# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart Tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Android Tooling
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/*.iml
android/local.properties
# If you uncomment the debug signing config in build.gradle, uncomment this too
# android/app/debug.keystore

# Keystore credentials (NEVER commit these!)
android/keystore.properties
*.keystore
*.jks

# iOS Tooling
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcshareddata/
*.xcscheme
Flutter/ephemeral/
Flutter/flutter_export_environment.sh
DerivedData/
.generated/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/